*{
    margin:0;
    padding:0;
}
html,body{
    overflow-x: hidden;
}
body{
    position: relative;
}
:root{
    --width:calc(100vw-15px);
    --color:white;
    --navfont:20px;
    --fontfanmily:'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
::-webkit-scrollbar-thumb {
    background: #888;
  }
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .maindiv-container{
    width:var(--width);
  }
  .swal-title{
    font-size: 32px;
  }
  .swal-text{
    font-size: 18px;
  }
  .navbar{
    background-color:#330099;
    width:var(--width);
    display: flex;
    align-items: center;
    color:var(--color);
    font-size:var(--navfont);
    padding-left: 15px;
  }
  #active-link{
    padding: 3px 15px;
    background-color: #d8bf36;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  .logo{
    font-family: var(--fontfanmily);
    font-size: 30px;
    font-weight: bold;
    }
.slant{
    width: var(--width);
    background-color: #330099;
    position: relative;
}
.slantdiv{
    width:100%;
    z-index: -1;
    background-color: #330099;
    position: absolute;
}
.child1-head{
    font-weight:bold;
}
.btn{
    cursor: pointer;
    padding:8px 0;
    width: 145px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: var(--fontfanmily);
    font-size: 16px;
    border: none;
}
#contact-btn{
    background-color:#d8bf36;
    color: var(--color);
}
.about-us{
    width:var(--width);
}
.about-btn{
    width:155.46px;
    height:44px;
    border-radius: 30px;
    margin:30px 0 45px 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #d8bf36;
    color:var(--color);
    font-family: var(--fontfanmily);
    font-size:16px;
    border: none;
    cursor:pointer;
}
.about-child2{
    width:100%;
    color:#0c0c0c;
    font-family: var(--fontfanmily);
    font-size: 32px;
}
.about-child2-head{
    font-weight: bold;
}
#about-dot,#services-dot,#hww-dot,#m_o_t-dot,#t-dot,#get_in_touch-dot{
    margin-left: 10px;
    font-size: 25px;
    color:#d8bf36;
}
.about-content{
    font-size:16px;
}
.about-para{
    text-align:justify;
}
.services{
    height:100%;
    background-color: #041858;
}
.services-heading{
    font-size: 32px;
    font-family: var(--fontfanmily);
    color:var(--color);
    text-align: center;
    padding-top:80px;
}
.services-subhead{
    color:var(--color);
    text-align: center;
    font-size: 16px;
    font-family: var(--fontfanmily);
}
.our-services{
    width:var(--width);
    /* background-color: violet; */
    margin-top:40px;
    padding:20px;
    display:grid;
}
.services-child1,.services-child2,.services-child3,.services-child4{
    /* background-color: aquamarine; */
    display:grid;
    justify-items: center;
    padding:10px;
}
.services-imgbox{
    width:250px;
    height:200px;
    background-color: var(--color);
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    display: grid;
    place-items: center;
}
.services-child5{
    /* background-color: fuchsia; */
    display:grid;
    justify-items: center;
}
.s-heading{
    font-size:20px;
    color:var(--color);
    font-family: var(--fontfanmily);
    font-weight:bold;
    margin-top:8px;
}
.s-content{
    margin-top:10px;
    font-size:16px;
    color:var(--color);
    font-family: var(--fontfanmily);
    /* background-color: #d8bf36; */
    text-align: center;
}

.services-btn-div{
    width:var(--width);
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.services-btn{
    cursor: pointer;
    width:155.46px;
    height:44px;
    border-radius: 30px;
    margin:38px 0 45px 0;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    background-color: #d8bf36;
    color:var(--color);
    font-family: var(--fontfanmily);
    font-size:16px;
    border: none;
}
.hww-div{
    width:var(--width);
    height:100%;
    background-color: #f8f9fa;
    /* display: none; */
}
.hww-heading{
    font-family:var(--fontfanmily);
    font-size: 32px;
    padding-top:80px;
    font-weight:bold;   
}
.hww-subhead{
    font-size: 16px;
    font-family: var(--fontfanmily);
    padding-top:5px;
}
.steps{
    height:100%;
    display:flex;
    margin-top:60px;
}
.steps-child1{
    display:flex;
    flex-direction: column;
    gap:18px;
}
.steps-child2{
    width:100%;
    height:100%;
    
}
.subchild1,.subchild2{
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.steps-btn{
    cursor: pointer;
    width:155.46px;
    height:44px;
    border-radius: 30px;
    margin:17px 0 45px 0;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    background-color: #d8bf36;
    color:var(--color);
    font-family: var(--fontfanmily);
    font-size:16px;
    border: none;
}
.schild1,.schild2{
    height:50px;
}
.schild2{
    display: grid;
    place-items: center;
    font-family: var(--fontfanmily);
    font-weight: bold;
}
.work1{
    padding-left: 20px;
    padding-top: 20px;
}
.scontent{
    padding-left:20px;
    font-size: 16px;
    font-family: var(--fontfanmily);
}
.m_o_t{
    width:var(--width);
    background-color: #f8f9fa;
    text-align: center;
}
.m_o_t_heading{
    font-family: var(--fontfanmily);
    font-size: 32px;
    font-weight: bold;
}
.mot-subhead{
    font-family: var(--fontfanmily);
    font-size: 16px;
}
.team{
    width:var(--width);
    display: grid;
}
/* .team-box{
    width:100%;
} */
#tb-1{
    display: grid;
    justify-content: center;
    align-content: start;
    
}
#tb-2{
    display: grid;
    justify-content: center;
    align-content: center;
}
#tb-3{
    display: grid;
    justify-content: center;
    align-content: end;
}
.img-box img{
    width:250px;
    height:239.06px;
}
.m-name{
    margin-top:12px;
    font-family: var(--fontfanmily);
    font-size:20px;
    font-weight: bold;
}
.m-about{
    font-family:var(--fontfanmily);
    font-size: 16px;
    margin-top:10px;
}
.m-social{
    width:var(--width);
    margin-top:12px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:12px;
    font-size: 30px;
    color:#041858;
}

.testimonial{
    width:var(--width);
    background-color:#f8f9fa;
}
.t-heading{
    font-family: var(--fontfanmily);
    font-size:32px;
    padding-top:80px;
    font-weight:bold;
}
.t-subheading{
    font-family: var(--fontfanmily);
    font-size:16px;
}
.t-img{
    padding-top:50px;
}
.t-img-head{
    font-family:var(--fontfanmily);
    font-size:18px;
    font-weight:bold;
    padding-top:10px;
}
.t-img-content{
    font-family: var(--fontfanmily);
    font-size:16px;
    padding-top: 5px;
}
.t-img2{
    padding-top:20px;
}
.get_in_touch{
    width:var(--width);
    background-color:#330099;
    position:relative;
}
.get_in_touch_slant{
    border-top-right-radius: 55px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: #330099;
    transform:skewY(-14deg);
    -webkit-transform:skewY(-14deg);
    -moz-transform:skewY(-14deg);
    -ms-transform:skewY(-14deg);
    -o-transform:skewY(-14deg);
    transform-origin:top left;
    z-index:-1;
}
.get_in_touch_child{
    width:100%;
    text-align:center;
    color:var(--color);
    font-family: var(--fontfanmily);
    font-size:32px;
    font-weight: bold;
}
.git-form-div{
    width:100%;
    padding-top:30px;
    display: grid;
    place-items: center;
}
.git-form{
    display: grid;
    grid-template-rows: repeat(4,45px);
    gap:15px;
}
.textbox{
    padding:6px 12px 6px 20px;
    border-radius: 30px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border:none;
}
#subject{
    grid-column: 1/-1;
    grid-row:2/3;
}
#message{
    grid-column: 1/-1;
    grid-row: 3/4;
}
.git-btn-container{
    display: grid;
    place-items: center;
    grid-column: 1/-1;
    grid-template-rows: 4/-1;
}
.git-btn{
    cursor: pointer;
    padding:8px 35px;
    width:107.66px;
    height:38.5px;
    background-color: #d8bf36;
    color:var(--color);
    font-size:15px;
    font-family: var(--fontfanmily);
    border-radius: 30px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border:none;
}
input::placeholder{
    font-size: 15px;
    font-family: var(--fontfanmily);
}
.footer{
    width:var(--width);
    margin-top:100px;
}
.footer-content{
    font-family: var(--fontfanmily);
    color:var(--color);
}
.footer-box1-heading{
    font-size:28px;
    font-weight: bold;
}
.footer-box1-content{
    margin-top:5px;
    font-size:16px;
    color:#9c9c9c;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom:30px;
}
.footer-box2-heading{
    font-size:28px;
}
.footer-box2-content ul{
    list-style: none;
}
.footer-box2-content ul li{
    padding-bottom:5px;
}
#footer-dot{
    color:#d8bf36;
    font-size:12px;
    padding-right:5px;
}
.footer-links:not(#active){
    padding-left:22px;
    color:#9c9c9c;
}
.footer-box3-heading{
    font-size:28px;
}
.footer-links{
    color:var(--color);
    font-size:16px;
    text-decoration: none;
}
.footer-child1{
    width:var(--width);
    color:#9c9c9c;
}
.footer-child2{
    font-size:16px;
    color:#9c9c9c;
}
.footer-box4-heading{
    font-size:28px;
}
.box4-mail{
    padding:7px 10px;
    outline:none;
    background-color: transparent;
    border:1px solid #a6adc4;
    color:var(--color);
}
.box-4-btn{
    cursor: pointer;
    width:90%;
    height:39.33px;
    color:var(--color);
    margin:15px 0px 0px;
    padding:8px 30px;
    background-color: #d8bf36;
    font-size:15px;
    border:none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.footer-icons{
    height:45px;
    margin-top:40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,45px);
}
.footer-social-icons{
    font-size:30px;
}
.copyright{
    text-align: center;
    font-size:16px;
    font-family: var(--fontfanmily);
    color:var(--color);
}


@media only screen and (max-width:319.99px)
{
    .maindiv-container{
        display: none;
    }
    .not-supported{
        display: block;
        width:var(--width);
        height:100vh;
        background-color: #330099;
        color:var(--color);
        font-family:var(--fontfanmily);
        font-size: 20px;
    }
    .not-supported-subdiv{
        width:var(--width);
        height:100vh;
        display: grid;
        place-items:center;
    }
}

@media only screen and (max-width:689.99px) and (min-width:320px)
{
    .not-supported{
        display: none;
    }
    .maindiv-container{
        display: block;
    }
    .navbar{
        height:10vh;
        position: relative; 
    }
    .navitems{
        display: none;
    }
    .mobile-menu{
        width:100vw;
        display: flex;
        padding-right:30px;
        justify-content: end;
    }
    .menuitems{
        overflow: hidden;
        width:100vw;
        height:0;
        opacity: 0;
        background-color: #330099;
        display: grid;
        place-items: center;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
}
    .menuitems ul{
        opacity: 0;
    }
    .menulist{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:15px;
        list-style: none;
    }
    .menulink{
        text-decoration: none;
        font-size:var(--navfont);
        font-family: var(--fontfanmily);
        color:var(--color);
    }
    #menu,#close{
        cursor: pointer;
        font-size:40px;
    }
    #close{
        display: none;
    }
    .slant{
        height:780px;
    }
    .slantdiv{
        height:780px;
        bottom:0;
        right:0;
        transform: skewY(-15deg);
        transform-origin: bottom right;
        -webkit-transform: skewY(-15deg);
        -moz-transform: skewY(-15deg);
        -ms-transform: skewY(-15deg);
        -o-transform: skewY(-15deg);
}
    .child1-head{
        /* background-color: #d8bf36; */
        display: flex;
        justify-content: center;
        font-size:50px;
        padding-top: 20px;
        padding-bottom:20px;
        font-family: var(--fontfanmily);
        color:var(--color);
        line-height: 70px;
    }
    .child1-para p{
        /* background-color: black; */
        color:var(--color);
        padding:20px 15px 20px 15px;
        text-align: center;
        font-size:16px;
        font-family: var(--fontfanmily);
    }
    .buttondiv{
        /* background-color: red; */
        text-align: center;
        padding:20px 0 20px 0;
    }
    
    .child2{
        width:var(--width);
        height:100%;
        /* background-color:yellow; */
        display: grid;
        place-items:center;
        padding:0px !important;
        /* padding:20px 0 20px 0; */
    }
    .child2-img-box{
        /* width:300px; */
        height:300px;
        display: grid;
        place-items: center;
        /* background-color: #d8bf36; */
    }
    .image{
        width:100%;
        height:300px;
    }
    
    .about-us{
        margin-top:175px;
        /* background-color:blueviolet; */
        height:100%;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom:30px;

    }
    .about-child1{
        width:var(--width);
        /* background-color: pink; */
        padding-left:20px;
    }
    .about-img{
        display: none;
    }
    .about_img{
        display: block;
        width:90%;
    }
    
    .about-child2{
        height:100%;
        /* background-color: yellow; */
    }
    .about-child2-head{
        margin-top:25px;
        padding-left:20px;
        /* background-color: yellow; */
    }
    .about-content{
        padding-left: 20px;
     }
    .about-para{
        /* background-color: cyan; */
        margin-top: 15px;
        padding-right: 20px;
    }
    .services{
        margin-top:100px;
    }
    .services-subhead{
        margin-top:15px;
        padding-left:20px;
        padding-right:20px;
        /* background-color: cyan; */
    }
    .our-services{
        grid-auto-flow: column;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        row-gap: 80px;
    }
    .hww-heading{
        padding-left:20px;
    }
    .hww-subhead{
        padding-left: 20px;
        padding-right:20px;
    }
    .steps{
        flex-direction: column;
    }
    .steps-child1{
        width:90%;
        /* background-color: black; */
        /* height:100%; */
        padding-left:5%;
    }
    .steps-child2{
        display: grid;
        place-items: center;
    }
    #step-img{
        width:90%;
    }
    .subbox{
        display: flex;
        flex-direction: row;
    }
    .subchild1,.subchild2{
        width:100%;
        height:100%;
        padding-bottom:20px;
    }
    .schild2{
        padding-left:10px;
        padding-top:20px;
        font-size: 18px;
    }
    .scontent{
        padding-right:50px;
        margin-top:30px;
    }
    .subchild3{
        text-align: center;
    }
    .m_o_t{
        padding-top:100px;
        /* display: none; */
    }
    .team{
        padding-top:80px;
        grid-auto-flow: row;
        gap:50px;
    }
    .testimonial{
        text-align: center;
    }
    .t-img-content{
        padding-left:10px;
        padding-right:10px;
    }
    .get_in_touch{
        margin-top:180px;
        height:1450px;
    }
    .get_in_touch_slant{
        height:1450px;
    }
    .get_in_touch_child{
        padding-top:100px;
        padding-bottom:10px;
    }
    .git-form{
        width:90%;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-box1{
        display: grid;
        place-items: center;
        text-align: center;
    }
    .footer-box2{
        /* background-color: lightgreen; */
        display: grid;
        place-items: center;
        text-align: center;
    }
    .footer-box3{
        /* background-color: mediumpurple; */
        display: grid;
        place-items:center;
        text-align: center;
    }
    .footer-box4{
        display: grid;
        place-items: center;
        text-align: center;
    }

    .footer-box2-content{
        padding-bottom: 30px;
    }

    .footer-box3-content{
        width:100%;
        /* height:250px; */
        margin-top:5px;
        /* background-color: cyan; */
        padding-bottom:30px;
    }
    #phone-icon,#mail-icon{
        font-size:20px;
    }
    .footer-child2{
        margin-top:10px;
    }
    .footer-box4-content{
        margin-top:10px;
    }
    .box4-mail{
        width:83%;
        height:30px;
    }

    .footer-icons{
        width:100%;
    }

    .copyright{
        margin-top:70px;
        width:var(--width);
        padding-left:10px;
        padding-right:10px;
    }
}

@media only screen and (max-width:959.99px) and (min-width:690px)
{
    .not-supported{
        display: none;
    }
    .maindiv-container{
        display: block;
    }
    .navbar{
        height:10vh;
        position: relative; 
    }
    .navitems{
        display: none;
    }
    .mobile-menu{
        width:100vw;
        display: flex;
        padding-right:30px;
        justify-content: end;
    }
    .menuitems{
        overflow: hidden;
        width:100vw;
        height:0;
        opacity: 0;
        background-color: #330099;
        display: grid;
        place-items: center;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
}
    .menuitems ul{
        opacity: 0;
    }
    .menulist{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:15px;
        list-style: none;
    }
    .menulink{
        text-decoration: none;
        font-size:var(--navfont);
        font-family: var(--fontfanmily);
        color:var(--color);
    }
    #menu,#close{
        cursor: pointer;
        font-size:40px;
    }
    #close{
        display: none;
    }
    .slant{
        height:480px;
        color:var(--color);
    }
    .slantdiv{
        height:480px;
        top: 0;
        left:0;
        transform:skewY(-5.3deg);
        -webkit-transform:skewY(-5.3deg);
        -moz-transform:skewY(-5.3deg);
        -ms-transform:skewY(-5.3deg);
        -o-transform:skewY(-5.3deg);
        transform-origin:bottom right;
}
    .content{
        /* padding-top:100px; */
        width:100%;
        height:360px;
        display: flex;
        flex-direction: row;
    }
    .child1{
        padding-top: 60px;
        width:50%;
        height:360px;
        /* background-color: yellow; */
        font-family: var(--fontfanmily);
        /*display: flex;
        align-items:center;
        justify-content: start;*/
        padding-left:40px;
        font-size: 64px;
        line-height: 64px;
}
    .child1-para{
        font-size: 16px;
        margin-top:30px;
        line-height: 20px;
    }
    .child2{
        width:70%;
        display: grid;
        place-items: center;
    }
    
    .image{
        width:94%;
        height:60%;
    }
    
    .about-us{
        /* background-color: #d8bf36; */
        margin-top:40px;
        height:100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* display: none; */
    }
    .about-child1{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .about-child2{
        width:60%;
        /* background-color: lemonchiffon; */
        display: grid;
        justify-items: center;
        align-items: center;
        /* height:100vh; */
        /* background-color: yellow; */
        /* display: flex;
        justify-content: start;
        align-items: center; */
    }
    .about-content{
        padding: 0px !important;
        font-size:20px;
    }
    .about-img{
        display: none;
    }
    .about_img{
        display: block;
        width:54%;
    }
    .about-child2-head{
        margin-top:160px;
        margin-left: 40px;
    }
    .about-content{
        margin-left:40px;
        padding-right: 40px;
    }
    .about-para{
        margin-top: 25px;
    }
    .services{
        margin-top:100px;
    }
    .services-subhead{
        margin-top:15px;
        padding-left:20px;
        padding-right:20px;
        /* background-color: cyan; */
    }
    .our-services{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap:15px;
        row-gap: 30px;
    }
    .services-child5{
        grid-row:3/4;
        grid-column: 1/3;
    }
    
    .hww-heading{
        padding-left:60px;
    }
    .hww-subhead{
        padding-left: 60px;
    }
    .steps{
        width:var(--width);
        display:grid;
        gap:20px;
        grid-template-columns: repeat(2,1fr);
    }
    .steps-child1{
        width:100%;
        padding-left:20px;
        /* background-color: violet; */
    }
    #step-img{
        width:90%;
    }
    .subbox{
        /* background-color: cyan; */
        display: grid;
        grid-template-columns: repeat(1,1fr) 3fr;
        padding-bottom:30px;
    }
    .steps-child2{
        display:grid;
        place-items: center;
    }
    .subchild1,.subchild2{
        padding-right: 10px;
        padding-bottom:20px;
        height:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .subchild3{
        display: grid;
        justify-content: center;
    }
    .schild2{
        padding-left:20px;
        padding-top:20px;
        font-size: 20px;
    }
    .scontent{
        padding-right:20px;
    }
    .m_o_t{
        padding-top:100px;
        /* display: none; */
    }
    .mot-subhead{
        margin-top:20px;
        padding-left:40px;
        padding-right:40px;
    }
    .team{
        padding-top:80px;
        grid-auto-flow: row;
        gap:50px;
    }
    .m-about{
        padding-left:255px;
        padding-right:255px;
    }
    .testimonial{
        text-align: center;
    }
    .t-subheading{
        margin-top: 20px;
        padding-left:40px;
        padding-right:40px;
    }
    .t-img-content{
        padding-left:40px;
        padding-right:40px;
    }
    .get_in_touch{
        margin-top:230px;
        height:1450px;
    }
    .get_in_touch_slant{
        height:1450px;
    }
    .get_in_touch_child{
        padding-top:100px;
        padding-bottom:10px;
    }
    .git-form{
        width:80%;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-box1{
        display: grid;
        place-items: center;
        text-align: center;
    }
    .footer-box2{
        /* background-color: lightgreen; */
        display: grid;
        place-items: center;
        text-align: center;
    }
    .footer-box3{
        /* background-color: mediumpurple; */
        display: grid;
        place-items:center;
        text-align: center;
    }
    .footer-box4{
        display: grid;
        place-items: center;
        text-align: center;
    }

    .footer-box2-content{
        padding-bottom: 30px;
    }

    .footer-box3-content{
        width:100%;
        /* height:250px; */
        margin-top:5px;
        /* background-color: cyan; */
        padding-bottom:30px;
    }
    #phone-icon,#mail-icon{
        font-size:20px;
    }
    .footer-child2{
        margin-top:10px;
    }
    .footer-box4-content{
        margin-top:10px;
    }
    .box4-mail{
        width:83%;
        height:30px;
    }

    .footer-icons{
        width:100%;
    }

    .copyright{
        margin-top:70px;
        width:var(--width);
        padding-left:10px;
        padding-right:10px;
    }
}
@media only screen and (max-width:1229.99px) and (min-width:960px)
{
    .not-supported{
        display: none;
    }
    .maindiv-container{
        display: block;
    }
    .mobile-menu{
        display: none;
    }
    .menuitems{
        display: none;
    }
    .navbar{
        height:11vh;
    }
    .navitems{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
    .navlink{
        text-decoration: none;
        color:var(--navfont);
    }
    #callicon,#searchicon{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .callus{
        margin-left:25px;
    }
    .maindiv{
        width:var(--width);
        height:88vh;
        color:var(--color);
        /* background-color: green; */
    }
    .slant{
        height:380px;
    }
    .slantdiv{
        height:380px;
        top: 0;
        left:0;
        transform:skewY(-5.3deg);
        -webkit-transform:skewY(-5.3deg);
        -moz-transform:skewY(-5.3deg);
        -ms-transform:skewY(-5.3deg);
        -o-transform:skewY(-5.3deg);
        transform-origin:bottom right;
}
    .content{
        /* padding-top:100px; */
        width:100%;
        height:360px;
        display: flex;
        flex-direction: row;
    }
    .child1{
        padding-top: 60px;
        width:50%;
        height:360px;
        /* background-color: yellow; */
        font-family: var(--fontfanmily);
        /*display: flex;
        align-items:center;
        justify-content: start;*/
        padding-left:40px;
        font-size: 64px;
        line-height: 64px;
}
    .child1-para{
        font-size: 16px;
        margin-top:30px;
        line-height: 20px;
    }
    .child2{
        width:70%;
        height:360px;
        padding-left:40px;
    }
    
    .image{
        width:555px;
        height:378px;
    }
        
    .about-us{
        /* background-color: #d8bf36; */
        margin-top: 110px;
        height:100vh;
        display: flex;
        flex-direction: row;
        /* display: none; */
    }
    .about-child1{
        width:100%;
        height:100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .about-child2{
        padding-right: 60px;
        height:100vh;
        /* background-color: yellow; */
        /* display: flex;
        justify-content: start;
        align-items: center; */
    }
    .about-img{
        display: block;
        width:455px;
        height:698.18px;
    }
    .about_img{
        display: none;
    }
    .about-child2-head{
        margin-top:160px;
        margin-left: 40px;
    }
    .about-content{
        margin-left:40px;
        padding-right: 40px;
    }
    .about-para{
        margin-top: 25px;
    }
    .services{
        width:var(--width);
        height:100%;
        margin-top:150px;
        /* display: none; */
        padding-bottom:30px;
    }
    
    .our-services{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap:15px;
        row-gap: 30px;
    }
    .services-child4{
        grid-row:2/3;
        grid-column:1/3;
    }
    .services-child5{
        grid-row: 2/3;
        grid-column: 2/4;
    }
    #s-5-content,#s-4-content{
        width:50%;
    }
    .hww-heading{
        padding-left:60px;
    }
    .hww-subhead{
        padding-left: 60px;
    }
    .steps{
        flex-direction: row;
    }
    #step-img{
        width:90%;
    }
    .subbox{
        /* background-color: cyan; */
        display: grid;
        grid-template-columns: repeat(1,1fr) 3fr;
        padding-bottom:30px;
    }
    .steps-child2{
        display:grid;
        place-items: center;
    }
    .steps-child1{
        width:100%;
        padding-left:60px;
    }
    
    .subchild1,.subchild2{
        height:188px;
        width:var(--width);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .schild2{
        padding-left:20px;
        padding-top:20px;
        font-size: 20px;
    }
    .scontent{
        padding-right:20px;
    }
    
    .team{
        margin-top:20px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,620px);
    }
    .m-about{
        padding-left:70px;
        padding-right:70px;
        /* background-color: lawngreen; */
    }
    .t-heading{
        padding-left:60px;
    }
    .t-subheading{
        padding-left:60px;
    }
    .t-img{
        padding-left:60px;
    }
    .t-img-head{
        padding-left:60px;
    }
    .t-img-content{
        padding-left:60px;
        padding-right:50px;
    }
    .t-img2{
        padding-left:60px;
    }
    .get_in_touch{
        margin-top:310px;
        height:1360px;
    }
    .get_in_touch_slant{
        height:1360px;
    }
    .get_in_touch_child{
        width:100%;
        /* background-color:aquamarine; */
        text-align:center;
        color:var(--color);
        font-family: var(--fontfanmily);
        font-size:32px;
        font-weight: bold;
    }
    .git-form{
        width:560px;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-box1{
        display: grid;
        place-items: center;
        text-align: center;
    }
    .footer-box2{
        /* background-color: lightgreen; */
        display: grid;
        place-items: center;
        text-align: center;
    }
    .footer-box3{
        /* background-color: mediumpurple; */
        display: grid;
        place-items:center;
        text-align: center;
    }
    .footer-box4{
        display: grid;
        place-items: center;
        text-align: center;
    }

    .footer-box2-content{
        padding-bottom: 30px;
    }

    .footer-box3-content{
        width:100%;
        /* height:250px; */
        margin-top:5px;
        /* background-color: cyan; */
        padding-bottom:30px;
    }
    #phone-icon,#mail-icon{
        font-size:20px;
    }
    .footer-child2{
        margin-top:10px;
    }
    .footer-box4-content{
        margin-top:10px;
    }
    .box4-mail{
        width:83%;
        height:30px;
    }
    .footer-icons{
        width:100%;
    }
    .copyright{
        width:var(--width);
    }
}
@media only screen and (max-width:1701.99px) and (min-width:1230px)
{
    .not-supported{
        display: none;
    }
    .maindiv-container{
        display: block;
    }
    .mobile-menu{
        display: none;
    }
    .menuitems{
        display: none;
    }
    .navbar{
        height:11vh;
    }
    .navitems{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:75px;
    }
    .navlink{
        text-decoration: none;
        color:var(--navfont);
    }
    #callicon,#searchicon{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .callus{
        margin-left:25px;
    }
    .maindiv{
        width:var(--width);
        height:88vh;
        color:var(--color);
        /* background-color: green; */
    }
    .slant{
        height:380px;
    }
    .slantdiv{
        height:380px;
        top: 0;
        left:0;
        transform:skewY(-5.3deg);
        -webkit-transform:skewY(-5.3deg);
        -moz-transform:skewY(-5.3deg);
        -ms-transform:skewY(-5.3deg);
        -o-transform:skewY(-5.3deg);
        transform-origin:bottom right;
}
    .content{
        /* padding-top:100px; */
        width:100%;
        height:360px;
        display: flex;
        flex-direction: row;
    }
    .child1{
        padding-top: 60px;
        width:50%;
        height:360px;
        /* background-color: yellow; */
        font-family: var(--fontfanmily);
        /*display: flex;
        align-items:center;
        justify-content: start;*/
        padding-left:40px;
        font-size: 64px;
        line-height: 64px;
}
    .child1-para{
        font-size: 16px;
        margin-top:30px;
        line-height: 20px;
    }
    .child2{
        width:70%;
        height:360px;
        padding-left:40px;
    }
    
    .image{
        width:555px;
        height:378px;
    }
        
    .about-us{
        /* background-color: #d8bf36; */
        margin-top: 30px;
        height:100vh;
        display: flex;
        flex-direction: row;
        /* display: none; */
    }
    .about-child1{
        width:100%;
        height:100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .about-child2{
        height:100vh;
        /* background-color: yellow; */
        /* display: flex;
        justify-content: start;
        align-items: center; */
    }
    .about-img{
        display: block;
        width:555px;
        height:798.18px;
    }
    .about_img{
        display: none;
    }
    .about-child2-head{
        margin-top:160px;
        margin-left: 40px;
    }
    .about-content{
        margin-left:40px;
        padding-right: 40px;
    }
    .about-para{
        margin-top: 25px;
    }
    .services{
        width:var(--width);
        height:100%;
        margin-top:150px;
        /* display: none; */
        padding-bottom:30px;
    }
    
    .our-services{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap:15px;
        row-gap: 30px;
    }
    .services-child4{
        grid-row:1/2;
        grid-column: 4/5;
    }
    .services-child5{
        grid-row: 2/3;
        grid-column: 2/4;
    }
    #s-5-content{
        width:50%;
    }
    .hww-heading{
        padding-left:60px;
    }
    .hww-subhead{
        padding-left: 60px;
    }
    .steps{
        flex-direction: row;
    }
    #step-img{
        width:90%;
    }
    .subbox{
        /* background-color: cyan; */
        display: grid;
        grid-template-columns: repeat(1,1fr) 3fr;
        padding-bottom:30px;
    }
    .steps-child2{
        display:grid;
        place-items: center;
    }
    .steps-child1{
        width:100%;
        padding-left:60px;
    }
    .subchild1,.subchild2{
        height:188px;
        width:var(--width);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .schild2{
        padding-left:20px;
        padding-top:20px;
        font-size: 20px;
    }
    .scontent{
        padding-right:20px;
    }
    
    .team{
        margin-top:20px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,620px);
    }
    .m-about{
        padding-left:70px;
        padding-right:70px;
        /* background-color: lawngreen; */
    }
    .t-heading{
        padding-left:60px;
    }
    .t-subheading{
        padding-left:60px;
    }
    .t-img{
        padding-left:60px;
    }
    .t-img-head{
        padding-left:60px;
    }
    .t-img-content{
        padding-left:60px;
        padding-right:50px;
    }
    .t-img2{
        padding-left:60px;
    }
    .get_in_touch{
        margin-top:310px;
        height:760px;
    }
    .get_in_touch_slant{
        height:760px;
    }
    .get_in_touch_child{
        width:100%;
        /* background-color:aquamarine; */
        text-align:center;
        color:var(--color);
        font-family: var(--fontfanmily);
        font-size:32px;
        font-weight: bold;
    }
    .git-form{
        width:560px;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-content{
        width:var(--width);
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,296.63px);
    }
    .footer-box1{
        padding-left:30px;
        padding-right:30px;
    }
    /* .footer-box2{
        background-color: lightgreen;
    }
    .footer-box3{
        background-color: mediumpurple;
    }
    .footer-box4{
        background-color: peachpuff;
    } */
    
    .footer-box3-content{
        width:95%;
        /* height:250px; */
        margin-top:10px;
        /* background-color: cyan; */
    }
    #phone-icon,#mail-icon{
        font-size:18px;
        padding-right:10px;
    }
    .footer-child2{
        margin-top: 15px;
    }
    
    .footer-box4-content{
        margin-top:5px;
    }
    .box4-mail{
        width:262.5px;
        height:39.33px;
    }
    .footer-icons{
        width:70%;
    }
    .copyright{
        width:var(--width);
    }

    @media only screen and (min-width:1701px)
    {
        .maindiv-container{
            display: none;
        }
        .not-supported{
            display: block;
            width:var(--width);
            height:100vh;
            background-color: #330099;
            color:var(--color);
            font-family:var(--fontfanmily);
            font-size: 32px;
        }
        .not-supported-subdiv{
            width:var(--width);
            height:100vh;
            display: grid;
            place-items:center;
        }
    }
}
